// btn
$primary: #0880ae;
$primary-color: #ebf4f8;
$warning: #f0ad4e;
$warning-color: #ebf4f8;
$error: #ff7171;
$error-color: #ebf4f8;
$disable: #dbe2ea;
$dark: #2c2738;
$placeholder: #7c9cbf;
$btn-active: #2c2738d9;
$label: #756f86;
